@using hitsWebsite.Services
@using hitsWebsite.Models.ViewModels
@inject IDataProviderService DataProviderService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localizationOptions

@{
    // projectNameOfPage
    ViewData["Title"] = "About";

    // Cultures info
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();  // Current culture request
    var supportedCultures = localizationOptions.Value.SupportedUICultures;  // Supported cultures in app

    // projectNameOfBlocks
    const string FeaturesName = "FeaturesBlock";
    const string OurPeopleName = "OurPeopleBlock";
    const string AchievementsName = "AchievementsBlock";

    // DB entities
    var features = await DataProviderService.GetFeatures();

    var teachers = await DataProviderService.GetTeachers();
    var graduates = await DataProviderService.GetGraduates();
}

<partial name="_DynamicPageInfo" model="@ViewData["Title"]" />

<div class="row pt-4">

    @*  Left Bar  *@
    <partial name="_LeftNavigationBar" />

    <div id="blocks-container" class="col col-lg-9">

        <div class="row info-block">
            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = FeaturesName
                }' />

            @if (features.Count == 0 && !User.IsInRole(ApplicationRoles.Administrators))
            {
                <h6>@localizer["EmptyCards"]</h6>
            }
            else
            {
                @for (int i = 0; i < features.Count(); i++) // List ordered by Name
                {
                    <div class="col-12 mt-3">
                        <div class="box">
                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                <div class="card-btns-container">
                                    <button class="open-popup btn-edit" rel="feature-edit-@i"></button>
                                    <button class="open-popup btn-delete" rel="feature-delete-@i"></button>
                                </div>
                            }
                            <h4>@features[i].FeatureTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Name</h4>
                            <p class="pt-3">
                                @features[i].FeatureTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Description
                            </p>
                        </div>
                    </div>
                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        var idEdit = $"feature-edit-{i}";
                        var idDelete = $"feature-delete-{i}";

                        <partial name="_PopupOpen" model="@idEdit" />
                        <form asp-action="EditFeature" asp-route-id="@features[i].Id">
                            <h4>@localizer["EditAction"]</h4>
                            @for (var j = 0; j < supportedCultures.Count; j++)
                            {
                                <h5>@supportedCultures[j].Name</h5>

                                <input class="entry-field" type="text" name="@("Name[" + j + "]")"
                                       value="@features[i].FeatureTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name"
                                       placeholder="@localizer["InputName"]" autocomplete="off" required />

                                // textarea shouldn't has any extra spaces between openning and closing tags
                                <textarea class="entry-field mt-3" type="text" name="@("Description[" + j + "]")" placeholder="@localizer["InputDescription"]" autocomplete="off"
                                          required>@features[i].FeatureTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description</textarea>
                                <hr>

                                <input type="hidden" name="@("Language[" + j + "]")" value="@supportedCultures[j].Name" required />
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />

                        <partial name="_PopupOpen" model="@idDelete" />
                        <form asp-action="DeleteFeature" asp-route-id="@features[i].Id">
                            <h4>@localizer["DeleteAction"]</h4>

                            @for (var j = 0; j < supportedCultures.Count; j++)
                            {
                                <h5>@supportedCultures[j].Name</h5>
                                <div>
                                    @localizer["InputName"]: @features[i].FeatureTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name <br>
                                    @localizer["InputDescription"]: @features[i].FeatureTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description
                                </div>
                                <hr>
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }
                }
            }

            @if (User.IsInRole(ApplicationRoles.Administrators))
            {
                <div class="col-12 mt-4 card-container">
                    <div class="card box adding-card">
                        <input type="button" class="open-popup add-btn" rel="add-feature" />
                    </div>
                </div>
                <partial name="_PopupOpen" model='"add-feature"' />
                <form asp-action="CreateFeature" method="post">
                    @for (var i = 0; i < supportedCultures.Count; i++)
                    {
                        <h5>@supportedCultures[i].Name</h5>
                        <input class="entry-field" type="text" name="@("Name[" + i + "]")" value="" placeholder="@localizer["InputName"]" autocomplete="off" required />
                        <textarea class="entry-field mt-3" type="text" name="@("Description[" + i + "]")" value="" placeholder="@localizer["InputDescription"]" autocomplete="off" required></textarea>
                        <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                    }
                    <div class="mt-3 d-flex justify-content-end">
                        <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                        <button type="submit" class="btn btn-primary">@localizer["ButtonSave"]</button>
                    </div>
                </form>
                <partial name="_PopupClose" />
            }

        </div>

        <div class="row info-block mt-5">
            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = OurPeopleName
                }' />

            <div class="col-12 mt-3" id="our-people">

                <input type="radio" name="our-people" id="students-btn" checked><label for="students-btn">Студенты</label>

                <input type="radio" name="our-people" id="teachers-btn"><label for="teachers-btn">Преподаватели</label>

                <input type="radio" name="our-people" id="graduates-btn"><label for="graduates-btn">Выпускники</label>

                <div class="clearfix"></div>

                <div class="box mt-3">

                    <div id="students-geographic">
                        <h4 class="mt-2">География студентов</h4>
                        <img class="mt-4" src="~/svg/map-students.svg">
                    </div>

                    <div id="teachers">
                        <div class="row">
                            @if (teachers.Count == 0 && !User.IsInRole(ApplicationRoles.Administrators))
                            {
                                <h6>@localizer["EmptyCards"]</h6>
                            }
                            else
                            {
                                @for (int i = 0; i < teachers.Count(); i++) // List ordered by Name
                                {
                                    <div class="col-4 p-2 person-container">
                                        @if (User.IsInRole(ApplicationRoles.Administrators))
                                        {
                                            <div class="card-btns-container">
                                                <button class="open-popup btn-edit" rel="teacher-edit-@i"></button>
                                                <button class="open-popup btn-delete" rel="teacher-delete-@i"></button>
                                            </div>
                                        }
                                        <div class="img-wrapper">
                                            <a href="@teachers[i].Picture.Path" target="__blank">
                                                <img src="@teachers[i].Picture.Path" />
                                            </a>
                                        </div>
                                        <h4 align="center" class="mt-3">@teachers[i].HumanTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Name</h4>
                                        <p class="pt-3">
                                            @teachers[i].HumanTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Description
                                        </p>
                                    </div>

                                    @if (User.IsInRole(ApplicationRoles.Administrators))
                                    {
                                        var idEdit = $"teacher-edit-{i}";
                                        var idDelete = $"teacher-edit-{i}";

                                        <partial name="_PopupOpen" model='@idEdit' />
                                        <form asp-action="EditHuman" asp-route-id="@teachers[i].Id" method="post" enctype="multipart/form-data">
                                            <h4>@localizer["EditAction"]</h4>
                                            @for (var j = 0; j < supportedCultures.Count; j++)
                                            {
                                                <h5>@supportedCultures[j].Name</h5>

                                                <input class="entry-field" type="text" name="@("Name[" + j + "]")"
                                                       value="@teachers[i].HumanTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name"
                                                       placeholder="@localizer["InputName"]" autocomplete="off" required="required" />

                                                // textarea shouldn't has any extra spaces between openning and closing tags
                                                <textarea class="entry-field mt-3" type="text" name="@("Description[" + j + "]")" placeholder="@localizer["InputDescription"]" autocomplete="off"
                                                          required>@teachers[i].HumanTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description</textarea>
                                                <input type="hidden" name="@("Language[" + j + "]")" value="@supportedCultures[j].Name" required />
                                                <hr>
                                            }
                                            <input type="file" name="@("Picture")" class="form-control" required />
                                            <input type="hidden" name="@("Post")" value="@("Teacher")" required />
                                            <div class="mt-3 d-flex justify-content-end">
                                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                            </div>
                                        </form>
                                        <partial name="_PopupClose" />

                                        @*var idEdit = $"profession-edit-{i}";
                                            var idDelete = $"profession-delete-{i}";

                                            <partial name="_PopupOpen" model="@idEdit" />
                                            <form asp-action="EditProfession" asp-route-id="@professions[i].Id">
                                                <h4>@localizer["EditAction"]</h4>
                                                @for (var j = 0; j < supportedCultures.Count; j++)
                                                {
                                                    <h5>@supportedCultures[j].Name</h5>

                                                    <input class="entry-field" type="text" name="@("Name[" + j + "]")"
                                                           value="@professions[i].ProfessionTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name"
                                                           placeholder="@localizer["InputName"]" autocomplete="off" required="required" />

                                                    // textarea shouldn't has any extra spaces between openning and closing tags
                                                    <textarea class="entry-field mt-3" type="text" name="@("Description[" + j + "]")" placeholder="@localizer["InputDescription"]" autocomplete="off"
                                                              required>@professions[i].ProfessionTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description</textarea>
                                                    <hr>

                                                    <input type="hidden" name="@("Language[" + j + "]")" value="@supportedCultures[j].Name" required />
                                                }
                                                <div class="mt-3 d-flex justify-content-end">
                                                    <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                                    <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                                </div>
                                            </form>
                                            <partial name="_PopupClose" />*@


                                        <partial name="_PopupOpen" model='"teacher-delete"' />
                                        <form>
                                            <h5>Элемент будет удален. Продолжить?</h5>

                                            <div class="mt-3 d-flex justify-content-end">
                                                <button type="button" class="close-popup btn btn-outline-danger mr-2">Отмена</button>
                                                <button type="submit" class="btn btn-outline-primary">Применить</button>
                                            </div>
                                        </form>
                                        <partial name="_PopupClose" />
                                    }
                                    @*Конец элемента*@
                                }
                            }

                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                <div class="col card-container">
                                    <div class="card box adding-card">
                                        <input type="button" class="open-popup add-btn" rel="add-teacher" />
                                    </div>
                                </div>
                                <partial name="_PopupOpen" model='"add-teacher"' />
                                <form asp-action="CreateHuman" method="post" enctype="multipart/form-data">
                                    @for (var i = 0; i < supportedCultures.Count; i++)
                                    {
                                        <h5>@supportedCultures[i].Name</h5>
                                        <input class="entry-field" type="text" name="@("Name[" + i + "]")" value="" placeholder="@localizer["InputName"]" autocomplete="off" required />
                                        <textarea class="entry-field mt-3" type="text" name="@("Description[" + i + "]")" value="" placeholder="@localizer["InputDescription"]" autocomplete="off" required></textarea>
                                        <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                                        <hr>
                                    }
                                    @*<input type="file" name="@("Picture")" class="form-control" required />*@
                                    <label for="load-teacher-img" class="load-labal">Выберите изображение</label>
                                    <input type="file" class="load-input form-control" id="load-teacher-img" name="@("Picture")" required />
                                    <input type="hidden" name="@("Post")" value="@("Teacher")" required />
                                    <div class="mt-3 d-flex justify-content-end">
                                        <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                        <button type="submit" class="btn btn-primary">@localizer["ButtonSave"]</button>
                                    </div>
                                </form>
                                <partial name="_PopupClose" />
                            }

                        </div>

                        <p class="mt-4">Со всей командой наших преподавателей вы можете ознакомиться <a href="http://hits.tsu.ru/ru/teachers">здесь</a></p>
                    </div>

                    <div id="graduates">
                        <div class="row">


                            @*Начало элемента*@
                            <div class="col-4 p-2 person-container">
                                @if (User.IsInRole(ApplicationRoles.Administrators))
                                {
                                    <div class="card-btns-container">
                                        <button class="open-popup btn-edit" rel="graduate-edit"></button>
                                        <button class="open-popup btn-delete" rel="graduate-delete"></button>
                                    </div>
                                }
                                <div class="img-wrapper">
                                    <img src="~/img/Lidia.png">
                                </div>
                                <h4 align="center" class="mt-3">Иванова Лидия Сергеевна</h4>
                                <p class="mt-3">Тренер чемпионов WOrldSkills и DigitalSkills, амбассадор Mail.ru</p>
                            </div>

                            @*Как брать id можно посмотреть на странице Профессии*@
                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                <partial name="_PopupOpen" model='"graduate-edit"' />
                                <form>
                                    <h5>RU</h5>

                                    <input class="entry-field" type="text" value="Лидия" placeholder="Имя" autocomplete="off" required />

                                    <textarea class="entry-field mt-3" placeholder="Описание" type="text" autocomplete="off"
                                              required>Тут типа описание текущее</textarea>
                                    <hr>
                                    <div class="mt-3 d-flex justify-content-end">
                                        <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                        <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                    </div>
                                </form>
                                <partial name="_PopupClose" />
                                <partial name="_PopupOpen" model='"graduate-delete"' />
                                <form>
                                    <h5>Элемент будет удален. Продолжить?</h5>

                                    <div class="mt-3 d-flex justify-content-end">
                                        <button type="button" class="close-popup btn btn-outline-danger mr-2">Отмена</button>
                                        <button type="submit" class="btn btn-outline-primary">Применить</button>
                                    </div>
                                </form>
                                <partial name="_PopupClose" />
                            }
                            @*Конец элемента*@

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Lidia.png">
                                </div>
                                <h4 align="center" class="mt-3">Дмитрий Биматов</h4>
                                <p class="mt-3">
                                    Разработчик программного обеспечения в Microsoft
                                </p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Zmeev.png">
                                </div>
                                <h4 align="center" class="mt-3">Роман Чаднов</h4>
                                <p class="mt-3">
                                    Инженер-программист в Facebook
                                </p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Sokov.png">
                                </div>
                                <h4 align="center" class="mt-3">Евгений Агафонов</h4>
                                <p class="mt-3">Инженер-разработчик программного обеспечения в Microsoft</p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Lidia.png">
                                </div>
                                <h4 align="center" class="mt-3">Роман Малахов</h4>
                                <p class="mt-3">
                                    Генеральный директор и основатель в bombsquare и ZOOM
                                </p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Zmeev.png">
                                </div>
                                <h4 align="center" class="mt-3">Сергей Кондратьев</h4>
                                <p class="mt-3">Инженер по надежности сайта в Google</p>
                            </div>

                            <div class="col-4 p-2">
                                <div class="img-wrapper">
                                    <img src="~/img/Sokov.png">
                                </div>
                                <h4 align="center" class="mt-3">Рената Пожидаева</h4>
                                <p class="mt-3">
                                    Ведущий разработчик в RevenueWell
                                </p>
                            </div>

                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                <div class="col card-container">
                                    <div class="card box adding-card">
                                        <input type="button" class="open-popup add-btn" rel="add-graduate" />
                                    </div>
                                </div>
                                <partial name="_PopupOpen" model='"add-graduate"' />
                                <form asp-action="AddProfession" method="post">
                                    <h5>RU</h5>
                                    <input class="entry-field" type="text" placeholder="Имя" autocomplete="off" required />
                                    <textarea class="entry-field mt-3" type="text" placeholder="Описание" autocomplete="off" required></textarea>
                                    <hr>
                                    <div class="mt-3 d-flex justify-content-end">
                                        <button type="button" class="close-popup btn btn-outline-danger mr-2">Отмена</button>
                                        <button type="submit" class="btn btn-outline-primary">Добавить</button>
                                    </div>
                                </form>
                                <partial name="_PopupClose" />
                            }

                        </div>

                        <p class="mt-4">Со всей командой наших преподавателей вы можете ознакомиться <a href="http://hits.tsu.ru/ru/teachers">здесь</a></p>
                    </div>

                </div>
            </div>

        </div>

        <div class="row info-block mt-5" id="achievements">

            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = AchievementsName
                }' />

            <div class="col-12 mt-3">
                <div class="box">
                    <div class="row justify-content-around">

                        <div class="col-7">
                            <text>
                                Мы гордимся нашими студентами, среди их достижений первые и вторые места во всевозможных чемпионатах и хакатонах.
                                <br>С полным списком достижений вы можете ознакомиться <a href="#">здесь</a>
                            </text>
                        </div>

                        <div class="col-5">
                            <div class="row">
                                <div class="col-6 mt-0 company-container"><img src="/img/achievements/worldskills_logo.jpg" alt="worldskills" /></div>
                                <div class="col-6 mt-0 company-container"><img src="/img/achievements/yandex_logo.png" alt="worldskills" /></div>
                                <div class="col-6 mt-4 company-container"><img src="/img/achievements/digital_logo.png" alt="worldskills" /></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
