@using hitsWebsite.Services
@inject IDataProviderService DataProviderService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localizationOptions

@{
    // projectNameOfPage
    ViewData["Title"] = "Professions";

    // Cultures info
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();  // Current culture request
    var supportedCultures = localizationOptions.Value.SupportedUICultures;  // Supported cultures in app

    // projectNameOfBlocks
    const string PROFESSIONS_PROJECT_BLOCK_NAME = "ProfessionsBlock";
    const string HITS_TEST_PROJECT_BLOCK_NAME = "HitsTestBlock";

    // DB entities
    var dynamicPage = await DataProviderService.GetDynamicPageInfo(ViewData["Title"] as String);
    var professions = await DataProviderService.GetProfessions();

    // JSON entities
    var professionsBlock = DataProviderService.GetBlock(PROFESSIONS_PROJECT_BLOCK_NAME);
    var hitsTestBlock = DataProviderService.GetBlock(HITS_TEST_PROJECT_BLOCK_NAME);


    // Vars for displaying to any user
    var dynamicPage_CurCulture = dynamicPage.DynamicPageTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault();
    var professionsBlock_CurCulture = professionsBlock.FirstOrDefault(x => x.Key == culture.RequestCulture.UICulture.Name).Value;
    var hitsTestBlock_CurCulture = hitsTestBlock.FirstOrDefault(x => x.Key == culture.RequestCulture.UICulture.Name).Value;
}



<div class="row mb-5">
    <div class="d-none d-lg-block col-3">
    </div>
    <div class="col-lg-9 title-page">
        <span class="purple-highlight">&lt;title&gt;</span>
        @*  Page info  *@
        <h1>@dynamicPage_CurCulture.Name</h1>
        <div class="row mt-5 align-items-center">
            <div class="col-md-8">
                <p>
                    @dynamicPage_CurCulture.Description
                </p>
            </div>


            <div class="col-md-4 mt-4 mt-md-0">
                @*  Edit page info  *@
                @if (User.IsInRole(ApplicationRoles.Administrators))
                {
                    <button type="button" class="edit-page-title big-btn mb-3">Редактировать</button>
                    <div class="popup-container">
                        <div class="popup-content">
                            <form asp-action="EditDynamicPageInfo" asp-route-projectNameOfPage="@ViewData["Title"].ToString()" method="post">
                                @for (var i = 0; i < supportedCultures.Count; i++)
                                {
                                    <h5>@supportedCultures[i].Name</h5>

                                    <input class="entry-field" type="text" name="@("Name[" + i + "]")"
                                           value="@dynamicPage.DynamicPageTranslations.Where(x => x.Language == supportedCultures[i].Name).SingleOrDefault().Name"
                                           placeholder="@localizer["InputName"]" autocomplete="off" required />

                                    <textarea class="entry-field mt-3" type="text" name="@("Description[" + i + "]")"
                                              placeholder="@localizer["InputDescription"]" autocomplete="off" required>
                                              @dynamicPage.DynamicPageTranslations.Where(x => x.Language == supportedCultures[i].Name).SingleOrDefault().Description
                                    </textarea>

                                    <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                                    <hr>
                                }
                                <div class="mt-3 d-flex justify-content-end">
                                    <button type="button" class="cancel-editing btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                    <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                }

                @*  Learn more  *@
                <button type="button" class="big-btn">@localizer["LearnMore"]</button>
            </div>


        </div>
    </div>
</div>




@*  All content under page info  *@
<div class="row pt-4">

    @*  Left Bar  *@
    <div id="side-navbar-container" class="col-3 d-none d-lg-block">
        <div id="side-navbar" class="default">
            <ul>
            </ul>
        </div>
    </div>

    <div id="blocks-container" class="col col-lg-9">
        <div class="row info-block">

            @*  Block of professions  *@
            <div class="col-12 title-block">
                <h2 class="d-flex w-100 justify-content-between align-items-center">
                    @if (professionsBlock_CurCulture != null)
                    {
                        @professionsBlock_CurCulture
                    }
                    else
                    {
                        @localizer["EmptyBlockName"]
                    }

                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <input type="button" class="edit-block-name" />
                    }
                </h2>
                @if (User.IsInRole(ApplicationRoles.Administrators))
                {
                    <form asp-action="EditBlockName" asp-route-projectBlockName="@PROFESSIONS_PROJECT_BLOCK_NAME" method="post" class="hidden w-100">
                        @for (var i = 0; i < supportedCultures.Count; i++)
                        {
                            <h5>@supportedCultures[i].Name</h5>
                            <input class="entry-field" type="text" name=@("NewBlockName[" + i + "]")
                                   value="@professionsBlock.GetValueOrDefault(supportedCultures[i].Name)" placeholder="@localizer["InputName"]" autocomplete="off" />
                            <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                        }
                        <div class="mt-3 d-flex justify-content-end">
                            <button type="button" class="cancel-editing btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                            <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                        </div>
                    </form>
                }
            </div>


            @*  Cards of professions  *@
            <div class="col-12 mt-3">
                <div class="row">
                    @if (professions.Count == 0 && !User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="col-sm-6 col-md-4 specialty-container">
                            <h6>@localizer["EmptyCards"]</h6>
                        </div>
                    }
                    else
                    {
                        @foreach (var profession in professions) // List ordered by Name
                        {
                            <div class="col-sm-6 col-md-4 specialty-container">
                                <div class="specialty box">
                                    @if (User.IsInRole(ApplicationRoles.Administrators))
                                    {
                                        <form class="card-btns-container">
                                            <button class="btn-edit"></button>
                                            <button class="btn-delete"></button>
                                        </form>
                                    }
                                    <h4>@profession.Name</h4>
                                    <p class="pt-3">
                                        @profession.Description
                                    </p>
                                </div>
                            </div>
                        }
                    }

                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="col-sm-6 col-md-4 specialty-container">
                            <div class="specialty box adding-card">

                                <div class="btn-add-container">
                                    <input type="button" class="add-btn" />
                                </div>

                                <form asp-action="AddProfession" method="post" class="hidden">
                                    @for (var i = 0; i < supportedCultures.Count; i++)
                                    {
                                        <h5>@supportedCultures[i].Name</h5>
                                        <input class="entry-field" type="text" name="@("Name[" + i + "]")" value="" placeholder="@localizer["InputName"]" autocomplete="off" required />
                                        <input class="entry-field mt-3" type="text" name="@("Description[" + i + "]")" value="" placeholder="@localizer["InputDescription"]" autocomplete="off" required />
                                        <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                                    }
                                    <button type="button" class="cancel-adding btn btn-outline-danger mt-3">@localizer["ButtonCancel"]</button>
                                    <button type="submit" class="btn btn-primary mt-3">@localizer["ButtonSave"]</button>
                                </form>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


        @*  HITs Test  *@
        <div class="row info-block mt-5">
            <div class="col-12 title-block">
                <h2 class="d-flex w-100 justify-content-between align-items-center">
                    @if (hitsTestBlock_CurCulture != null)
                    {
                        @hitsTestBlock_CurCulture
                    }
                    else
                    {
                        @localizer["EmptyBlockName"]
                    }

                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <input type="button" class="edit-block-name" />
                    }
                </h2>
                @if (User.IsInRole(ApplicationRoles.Administrators))
                {
                    <form asp-action="EditBlockName" asp-route-projectBlockName="@HITS_TEST_PROJECT_BLOCK_NAME" method="post" class="hidden w-100">
                        @for (var i = 0; i < supportedCultures.Count; i++)
                        {
                            <h5>@supportedCultures[i].Name</h5>
                            <input class="entry-field" type="text" name=@("NewBlockName[" + i + "]")
                                   value="@hitsTestBlock.GetValueOrDefault(supportedCultures[i].Name)" placeholder="@localizer["InputName"]" autocomplete="off" />
                            <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                        }
                        <div class="mt-3 d-flex justify-content-end">
                            <button type="button" class="cancel-editing btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                            <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                        </div>
                    </form>
                }
            </div>
            <div class="col-12 mt-3 test-hits">

                <div class="row">
                    <div class="col-6 col-lg-12">

                        <div class="row mb-4">
                            <div class="col-12">
                                <h6>Шуточный вопрос</h6>
                            </div>
                            <div class="col-11 col-lg-6 col-xl-5">
                                <input class="entry-field" type="text" placeholder="Ответ" />
                            </div>
                        </div>

                    </div>
                    <div class="col-6 col-lg-12">

                        <div class="row mb-4">
                            <div class="col-12">
                                <h6>Шуточный вопрос</h6>
                            </div>
                            <div class="col-11 col-lg-6 col-xl-5">
                                <div class="row pt-2">
                                    <div class="col-3"><button class="answer">Ответ 1</button></div>
                                    <div class="col-3"><button class="answer">Ответ 2</button></div>
                                    <div class="col-3"><button class="answer">Ответ 3</button></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-6 col-lg-12">

                        <div class="row mb-4">
                            <div class="col-12">
                                <h6>Шуточный вопрос</h6>
                            </div>
                            <div class="col-11 col-lg-6 col-xl-5">
                                <input class="entry-field" type="text" placeholder="Ответ" />
                            </div>
                        </div>

                    </div>
                    <div class="col-6 col-lg-12">

                        <div class="row mt-lg-4">
                            <div class="col-11 col-lg-5 col-xl-4">
                                <button type="button" class="big-btn">Узнать результат</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>