@using hitsWebsite.Services
@using hitsWebsite.Models.ViewModels
@inject IDataProviderService DataProviderService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localizationOptions

@{
    // projectNameOfPage
    ViewData["Title"] = "Live";

    // Cultures info
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();  // Current culture request
    var supportedCultures = localizationOptions.Value.SupportedUICultures;  // Supported cultures in app

    // projectNameOfBlocks
    const string AboutCityName = "AboutCityBlock";
    const string DormitoriesName = "DormitoriesBlock";
}

<partial name="_DynamicPageInfo" model="@ViewData["Title"]" />

<div class="row pt-4">

    @*  Left Bar  *@
    <partial name="_LeftNavigationBar" />

    <div id="blocks-container" class="col col-lg-9">

        <div class="row info-block">

            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = AboutCityName
                }' />

            <div class="col-12 mt-3">
                <div class="row">

                    <div class="col-sm-6 col-md-4 card-container">
                        <div class="card box">
                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                <div class="card-btns-container">
                                    <button class="open-popup btn-edit" rel="city-features-edit"></button>
                                    <button class="open-popup btn-delete" rel="city-features-delete"></button>
                                </div>
                            }
                            <h4>3 город в России</h4>
                            <p class="pt-3">
                                Занимает 3 место в рейтинге студенческих городов России.
                                73 место в мире по версии QS
                            </p>
                        </div>
                    </div>
                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        var idEdit = $"city-features-edit";
                        var idDelete = $"city-features-delete";

                        <partial name="_PopupOpen" model="@idEdit" />
                        <form>
                            <h4>@localizer["EditAction"]</h4>
                            @for (var j = 0; j < supportedCultures.Count; j++)
                            {
                                <h5>@supportedCultures[j].Name</h5>

                                <input class="entry-field" type="text" name="@("Name[" + j + "]")"
                                       placeholder="@localizer["InputName"]" autocomplete="off" required />

                                // textarea shouldn't has any extra spaces between openning and closing tags
                                <textarea class="entry-field mt-3" type="text" name="@("Description[" + j + "]")" placeholder="@localizer["InputDescription"]" autocomplete="off"
                                          required></textarea>
                                <hr>

                                <input type="hidden" name="@("Language[" + j + "]")" value="@supportedCultures[j].Name" required />
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />

                        <partial name="_PopupOpen" model="@idDelete" />
                        <form>
                            <h4>@localizer["DeleteAction"]</h4>

                            @for (var j = 0; j < supportedCultures.Count; j++)
                            {
                                <h5>@supportedCultures[j].Name</h5>
                                <div>
                                    @localizer["InputName"]: Название пункта <br>
                                    @localizer["InputDescription"]: Особенность
                                </div>
                                <hr>
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }

                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="col-sm-6 col-md-4 card-container">
                            <div class="card box adding-card">
                                <input type="button" class="open-popup add-btn" rel="add-subject" />
                            </div>
                        </div>

                        <partial name="_PopupOpen" model='"add-subject"' />
                        <form>
                            <h4>@localizer["AddAction"]</h4>
                            @for (var i = 0; i < supportedCultures.Count; i++)
                            {
                                <h5>@supportedCultures[i].Name</h5>
                                <input class="entry-field" type="text" name="@("Name[" + i + "]")" value="" placeholder="@localizer["InputName"]" autocomplete="off" required />
                                <textarea class="entry-field mt-3" type="text" name="@("Description[" + i + "]")" value="" placeholder="@localizer["InputDescription"]" autocomplete="off" required></textarea>
                                <hr>
                                <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }

                </div>

                <div class="w-100 box">
                    <h4>Томск в фото</h4>

                    <div class="photos-container mt-4">
                        <div class="row">

                            <div class="col-sm-9">
                                <div id="carousel-tomsk" class="carousel slide carousel-fade" data-ride="carousel">

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item photo active">
                                            <img class="d-block" src="/img/photos/tomsk1.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/First slide-->
                                        <!--Second slide-->
                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/tomsk2.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/Second slide-->
                                        <!--Third slide-->
                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/tomsk3.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/Third slide-->

                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/tomsk4.jpg"
                                                 alt="First slide">
                                        </div>

                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/tomsk5.jpg"
                                                 alt="First slide">
                                        </div>

                                    </div>
                                    <!--/.Slides-->
                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-tomsk" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-tomsk" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                            </div>

                            <div class="d-sm-block col-3">
                                <div class="indicators-container position-relative">
                                    <!--Indicators-->
                                    <ol>
                                        <li data-target="#carousel-tomsk" data-slide-to="0">
                                            <img class="d-block" src="/img/photos/tomsk1.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-tomsk" data-slide-to="1">
                                            <img class="d-block" src="/img/photos/tomsk2.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-tomsk" data-slide-to="2">
                                            <img class="d-block" src="/img/photos/tomsk3.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-tomsk" data-slide-to="3">
                                            <img class="d-block" src="/img/photos/tomsk4.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-tomsk" data-slide-to="4">
                                            <img class="d-block" src="/img/photos/tomsk5.jpg"
                                                 alt="First slide">
                                        </li>
                                    </ol>
                                    <!--/.Indicators-->
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row info-block mt-5">
            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = DormitoriesName
                }' />

            <div class="col-12 mt-3">

                <div class="w-100 box">
                    <h4>Парус</h4>

                    <p class="mt-4">
                        Общежитие 2016 года постройки, в основном наши студенты проживают в нем. Здесь вы получите всё самое необходимое: постельное белье, матрас, одеяло, подушки и т.д. В общежитии функционируют кухни, оборудованные электроплитами и холодильниками. Каждое жилое помещение оснащено туалетной и ванной комнатами. В общежитии есть прачечная, оборудованная стиральными машинами и сушильной комнатой, спортивный зал и учебные комнаты. На каждом этаже выделена большая деловая зона, где размещаются танцевальные залы, зал для занятия балетом, конференц-зал.
                    </p>

                    <div class="photos-container mt-4">
                        <div class="row">

                            <div class="col-sm-9">
                                <div id="carousel-hostel-sail" class="carousel slide carousel-fade" data-ride="carousel">

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item photo active">
                                            <img class="d-block" src="/img/photos/sail1.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/First slide-->
                                        <!--Second slide-->
                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/sail2.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/Second slide-->
                                        <!--Third slide-->
                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/sail3.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/Third slide-->

                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/sail4.jpg"
                                                 alt="First slide">
                                        </div>

                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/sail5.jpg"
                                                 alt="First slide">
                                        </div>

                                    </div>
                                    <!--/.Slides-->
                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-hostel-sail" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-hostel-sail" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                            </div>

                            <div class="d-sm-block col-3">
                                <div class="indicators-container position-relative">
                                    <!--Indicators-->
                                    <ol>
                                        <li data-target="#carousel-hostel-sail" data-slide-to="0">
                                            <img class="d-block" src="/img/photos/sail1.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-hostel-sail" data-slide-to="1">
                                            <img class="d-block" src="/img/photos/sail2.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-hostel-sail" data-slide-to="2">
                                            <img class="d-block" src="/img/photos/sail3.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-hostel-sail" data-slide-to="3">
                                            <img class="d-block" src="/img/photos/sail4.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-hostel-sail" data-slide-to="4">
                                            <img class="d-block" src="/img/photos/sail5.jpg"
                                                 alt="First slide">
                                        </li>
                                    </ol>
                                    <!--/.Indicators-->
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="w-100 mt-4 box">
                    <h4>Маяк</h4>

                    <p class="mt-4">
                        Общежитие 2016 года постройки, в основном наши студенты проживают в нем. Здесь вы получите всё самое необходимое: постельное белье, матрас, одеяло, подушки и т.д. В общежитии функционируют кухни, оборудованные электроплитами и холодильниками. Каждое жилое помещение оснащено туалетной и ванной комнатами. В общежитии есть прачечная, оборудованная стиральными машинами и сушильной комнатой, спортивный зал и учебные комнаты. На каждом этаже выделена большая деловая зона, где размещаются танцевальные залы, зал для занятия балетом, конференц-зал.
                    </p>

                    <div class="photos-container mt-4">
                        <div class="row">

                            <div class="col-sm-9">
                                <div id="carousel-hostel-lighthouse" class="carousel slide carousel-fade" data-ride="carousel">

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item photo active">
                                            <img class="d-block" src="/img/photos/sail1.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/First slide-->
                                        <!--Second slide-->
                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/sail2.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/Second slide-->
                                        <!--Third slide-->
                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/sail3.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/Third slide-->

                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/sail4.jpg"
                                                 alt="First slide">
                                        </div>

                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/sail5.jpg"
                                                 alt="First slide">
                                        </div>

                                    </div>
                                    <!--/.Slides-->
                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-hostel-lighthouse" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-hostel-lighthouse" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                            </div>

                            <div class="d-sm-block col-3">
                                <div class="indicators-container position-relative">
                                    <!--Indicators-->
                                    <ol>
                                        <li data-target="#carousel-hostel-lighthouse" data-slide-to="0">
                                            <img class="d-block" src="/img/photos/sail1.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-hostel-lighthouse" data-slide-to="1">
                                            <img class="d-block" src="/img/photos/sail2.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-hostel-lighthouse" data-slide-to="2">
                                            <img class="d-block" src="/img/photos/sail3.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-hostel-lighthouse" data-slide-to="3">
                                            <img class="d-block" src="/img/photos/sail4.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-hostel-lighthouse" data-slide-to="4">
                                            <img class="d-block" src="/img/photos/sail5.jpg"
                                                 alt="First slide">
                                        </li>
                                    </ol>
                                    <!--/.Indicators-->
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
