@using hitsWebsite.Services
@using hitsWebsite.Models.ViewModels
@inject IDataProviderService DataProviderService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localizationOptions

@{
    // projectNameOfPage
    ViewData["Title"] = "Live";

    // Cultures info
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();  // Current culture request
    var supportedCultures = localizationOptions.Value.SupportedUICultures;  // Supported cultures in app

    // projectNameOfBlocks
    const string AboutCityName = "AboutCityBlock";
    const string DormitoriesName = "DormitoriesBlock";

    // DB entities
    var cityFeatures = await DataProviderService.GetCityFeatures();
    var cityFeatureWithPhotos = await DataProviderService.GetCityFeatureWithPhotos();

    var dormitories = await DataProviderService.GetDormitories();
}

<partial name="_DynamicPageInfo" model="@ViewData["Title"]" />

<div class="row pt-4">

    @*  Left Bar  *@
    <partial name="_LeftNavigationBar" />

    <div id="blocks-container" class="col col-lg-9">

        <div class="row info-block">

            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = AboutCityName
                }' />

            <div class="col-12 mt-3">
                <div class="row">
                    @if (cityFeatures.Count == 0 && cityFeatureWithPhotos.Count == 0 && !User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <h6>@localizer["EmptyCards"]</h6>
                    }
                    else
                    {
                        @for (var i = 0; i < cityFeatures.Count; i++) // List ordered by Name
                        {
                            <div class="col-sm-6 col-md-4 card-container">
                                <div class="card box">
                                    @if (User.IsInRole(ApplicationRoles.Administrators))
                                    {
                                        <div class="card-btns-container">
                                            <button class="open-popup btn-edit" rel="city-features-edit-@i"></button>
                                            <button class="open-popup btn-delete" rel="city-features-delete-@i"></button>
                                        </div>
                                    }
                                    <h4>@cityFeatures[i].CityFeatureTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Name</h4>
                                    <p class="pt-3">
                                        @cityFeatures[i].CityFeatureTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Description
                                    </p>
                                </div>
                            </div>
                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                var idCityFeatureEdit = $"city-features-edit-{i}";
                                var idCityFeatureDelete = $"city-features-delete-{i}";

                                <partial name="_PopupOpen" model="@idCityFeatureEdit" />
                                <form asp-action="EditCityFeature" asp-route-id="@cityFeatures[i].Id">
                                    <h4>@localizer["EditAction"]</h4>
                                    @for (var j = 0; j < supportedCultures.Count; j++)
                                    {
                                        <h5>@supportedCultures[j].Name</h5>

                                        <input class="entry-field" type="text" name="@("Name[" + j + "]")"
                                               value="@cityFeatures[i].CityFeatureTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name"
                                               placeholder="@localizer["InputName"]" autocomplete="off" required />

                                        // textarea shouldn't has any extra spaces between openning and closing tags
                                        <textarea class="entry-field mt-3" type="text" name="@("Description[" + j + "]")" placeholder="@localizer["InputDescription"]" autocomplete="off"
                                                  required>@cityFeatures[i].CityFeatureTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description</textarea>
                                        <hr>

                                        <input type="hidden" name="@("Language[" + j + "]")" value="@supportedCultures[j].Name" required />
                                    }
                                    <div class="mt-3 d-flex justify-content-end">
                                        <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                        <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                    </div>
                                </form>
                                <partial name="_PopupClose" />

                                <partial name="_PopupOpen" model="@idCityFeatureDelete" />
                                <form asp-action="DeleteCityFeature" asp-route-id="@cityFeatures[i].Id">
                                    <h4>@localizer["DeleteAction"]</h4>

                                    @for (var j = 0; j < supportedCultures.Count; j++)
                                    {
                                        <h5>@supportedCultures[j].Name</h5>
                                        <div>
                                            @localizer["InputName"]: @cityFeatures[i].CityFeatureTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name <br>
                                            @localizer["InputDescription"]: @cityFeatures[i].CityFeatureTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description
                                        </div>
                                        <hr>
                                    }
                                    <div class="mt-3 d-flex justify-content-end">
                                        <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                        <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                    </div>
                                </form>
                                <partial name="_PopupClose" />
                            }
                        }
                    }

                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="col-sm-6 col-md-4 card-container">
                            <div class="card box adding-card">
                                <input type="button" class="open-popup add-btn" rel="add-subject" />
                            </div>
                        </div>

                        <partial name="_PopupOpen" model='"add-subject"' />
                        <form asp-action="CreateCityFeature" method="post">
                            <h4>@localizer["AddAction"]</h4>
                            @for (var i = 0; i < supportedCultures.Count; i++)
                            {
                                <h5>@supportedCultures[i].Name</h5>
                                <input class="entry-field" type="text" name="@("Name[" + i + "]")" value="" placeholder="@localizer["InputName"]" autocomplete="off" required />
                                <textarea class="entry-field mt-3" type="text" name="@("Description[" + i + "]")" value="" placeholder="@localizer["InputDescription"]" autocomplete="off" required></textarea>
                                <hr>
                                <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }

                </div>

                <div class="w-100 box">
                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="card-btns-container">
                            <button class="open-popup btn-edit" rel="tomsk-edit"></button>
                        </div>

                        <partial name="_PopupOpen" model='"tomsk-edit"' />
                        <form>
                            <h4>@localizer["EditAction"]</h4>
                            @for (var j = 0; j < supportedCultures.Count; j++)
                            {
                                <h5>@supportedCultures[j].Name</h5>

                                <input class="entry-field" type="text" name="@("Name[" + j + "]")"
                                       placeholder="@localizer["InputName"]" autocomplete="off" required />
                                <hr>

                                <input type="hidden" name="@("Language[" + j + "]")" value="@supportedCultures[j].Name" required />
                            }

                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div class="delete-photo">
                                        <input class="custom-checkbox" type="checkbox" id="tomsk-1">
                                        <label for="tomsk-1">Удалить?</label>
                                        <div>
                                            <img src="/img/photos/tomsk1.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="delete-photo">
                                        <input class="custom-checkbox" type="checkbox" id="tomsk-2">
                                        <label for="tomsk-2">Удалить?</label>
                                        <div>
                                            <img src="/img/photos/tomsk2.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="delete-photo">
                                        <input class="custom-checkbox" type="checkbox" id="tomsk-3">
                                        <label for="tomsk-3">Удалить?</label>
                                        <div>
                                            <img src="/img/photos/tomsk3.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="delete-photo">
                                        <input class="custom-checkbox" type="checkbox" id="tomsk-4">
                                        <label for="tomsk-4">Удалить?</label>
                                        <div>
                                            <img src="/img/photos/tomsk4.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div class="delete-photo">
                                        <input class="custom-checkbox" type="checkbox" id="tomsk-5">
                                        <label for="tomsk-5">Удалить?</label>
                                        <div>
                                            <img src="/img/photos/tomsk5.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label for="load-tomsk-photos" class="load-labal">Добавить изображения</label>
                            <input type="file" class="load-input form-control" id="load-tomsk-photos" name="@("Picture")" multiple="multiple" />

                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }


                    <h4>@cityFeatureWithPhotos</h4>

                    <div class="photos-container mt-4">
                        <div class="row">

                            <div class="col-sm-9">
                                <div id="carousel-tomsk" class="carousel slide carousel-fade" data-ride="carousel">

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item photo active">
                                            <img class="d-block" src="/img/photos/tomsk1.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/First slide-->
                                        <!--Second slide-->
                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/tomsk2.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/Second slide-->
                                        <!--Third slide-->
                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/tomsk3.jpg"
                                                 alt="First slide">
                                        </div>
                                        <!--/Third slide-->

                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/tomsk4.jpg"
                                                 alt="First slide">
                                        </div>

                                        <div class="carousel-item photo">
                                            <img class="d-block" src="/img/photos/tomsk5.jpg"
                                                 alt="First slide">
                                        </div>

                                    </div>
                                    <!--/.Slides-->
                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-tomsk" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-tomsk" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                            </div>

                            <div class="d-none d-sm-block col-3">
                                <div class="indicators-container position-relative">
                                    <!--Indicators-->
                                    <ol>
                                        <li data-target="#carousel-tomsk" data-slide-to="0">
                                            <img class="d-block" src="/img/photos/tomsk1.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-tomsk" data-slide-to="1">
                                            <img class="d-block" src="/img/photos/tomsk2.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-tomsk" data-slide-to="2">
                                            <img class="d-block" src="/img/photos/tomsk3.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-tomsk" data-slide-to="3">
                                            <img class="d-block" src="/img/photos/tomsk4.jpg"
                                                 alt="First slide">
                                        </li>
                                        <li data-target="#carousel-tomsk" data-slide-to="4">
                                            <img class="d-block" src="/img/photos/tomsk5.jpg"
                                                 alt="First slide">
                                        </li>
                                    </ol>
                                    <!--/.Indicators-->
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row info-block mt-5">
            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = DormitoriesName
                }' />



            @if (dormitories.Count == 0 && !User.IsInRole(ApplicationRoles.Administrators))
            {
                <h6>@localizer["EmptyCards"]</h6>
            }
            else
            {
                <div class="col-12">
                    @for (var i = 0; i < dormitories.Count; i++) // List ordered by Name
                    {

                        <div class="w-100 box mt-4">
                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                <div class="card-btns-container">
                                    <button class="open-popup btn-edit" rel="dormitory-edit-@i"></button>
                                    <button class="open-popup btn-delete" rel="dormitory-delete-@i"></button>
                                </div>
                            }
                            <h4>@dormitories[i].DormitoryTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Name</h4>

                            <p class="mt-4">
                                @dormitories[i].DormitoryTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Description
                            </p>

                            <div class="photos-container mt-4">
                                <div class="row">

                                    <div class="col-sm-9">
                                        <div id="carousel-hostel-@i" class="carousel slide carousel-fade" data-ride="carousel">
                                            <!--Slides-->
                                            <div class="carousel-inner" role="listbox">
                                                @for (var j = 0; j < dormitories[i].Pictures.Count; j++)
                                                {
                                                    @if (j == 0)
                                                    {
                                                        <!--First slide-->
                                                        <div class="carousel-item photo active">
                                                            <img class="d-block" src="@dormitories[i].Pictures.First().Path">
                                                        </div>
                                                        <!--/First slide-->
                                                    }

                                                    else
                                                    {
                                                        <div class="carousel-item photo">
                                                            <img class="d-block" src="@dormitories[i].Pictures.ElementAt(j).Path">
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <!--/.Slides-->
                                            <!--Controls-->
                                            <a class="carousel-control-prev" href="#carousel-hostel-@i" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel-hostel-@i" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                            <!--/.Controls-->
                                        </div>
                                    </div>

                                    <div class="d-none d-sm-block col-3">
                                        <div class="indicators-container position-relative">
                                            <!--Indicators-->
                                            <ol>
                                                @for (var j = 0; j < dormitories[i].Pictures.Count; j++)
                                                {
                                                    <li data-target="#carousel-hostel-@i" data-slide-to="@j">
                                                        <img class="d-block" src="@dormitories[i].Pictures.ElementAt(j).Path">
                                                    </li>
                                                }
                                            </ol>
                                            <!--Indicators-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        @*  Edit & Delete Dormitory by Admin  *@
                        @if (User.IsInRole(ApplicationRoles.Administrators))
                        {
                            var idEdit = $"dormitory-edit-{i}";
                            var idDelete = $"dormitory-delete-{i}";

                            <partial name="_PopupOpen" model='@idEdit' />
                            <form asp-action="EditDormitory" asp-route-id="@dormitories[i].Id" method="post" enctype="multipart/form-data">
                                <h4>@localizer["EditAction"]</h4>
                                @for (var j = 0; j < supportedCultures.Count; j++)
                                {
                                    <h5>@supportedCultures[j].Name</h5>

                                    <input class="entry-field" type="text" name="@("Name[" + j + "]")"
                                           placeholder="@localizer["InputName"]" autocomplete="off" required
                                           value="@dormitories[i].DormitoryTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name" />

                                    <textarea class="entry-field mt-3" type="text" name="@("Description[" + j + "]")" placeholder="Описание общаги" autocomplete="off"
                                              required>@dormitories[i].DormitoryTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description</textarea>

                                    <hr>

                                    <input type="hidden" name="@("Language[" + j + "]")" value="@supportedCultures[j].Name" required />
                                }

                                <div class="row">
                                    @for (var j = 0; j < dormitories[i].Pictures.Count; j++)
                                    {
                                        <div class="col-6 mb-3">
                                            <div class="delete-photo">
                                                <input class="custom-checkbox" type="checkbox" name="@("PicturesToDelete")" value="@dormitories[i].Pictures.ElementAt(j).Id" id="dormitory-@i-photo-@j">
                                                <label for="dormitory-@i-photo-@j">Удалить?</label>
                                                <div>
                                                    <img src="@dormitories[i].Pictures.ElementAt(j).Path" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <label for="load-dormitory-@i" class="load-labal">Добавить изображения</label>
                                <input type="file" class="load-input form-control" id="load-dormitory-@i" name="@("Pictures")" multiple="multiple" />

                                <div class="mt-3 d-flex justify-content-end">
                                    <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                    <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                </div>
                            </form>
                            <partial name="_PopupClose" />

                            <partial name="_PopupOpen" model='@idDelete' />
                            <form asp-action="DeleteDormitory" asp-route-id="@dormitories[i].Id" method="post" enctype="multipart/form-data">
                                <h4>@localizer["DeleteAction"]</h4>

                                @for (var j = 0; j < supportedCultures.Count; j++)
                                {
                                    <h5>@supportedCultures[j].Name</h5>
                                    <div>
                                        @localizer["InputName"]: @dormitories[i].DormitoryTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name <br>
                                        @localizer["InputDescription"]: @dormitories[i].DormitoryTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description
                                    </div>
                                    <hr>
                                }

                                <div class="mt-3 d-flex justify-content-end">
                                    <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                    <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                </div>
                            </form>
                            <partial name="_PopupClose" />
                        }
                    }



                    @*  Create a new Dormitory by Admin  *@
                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="w-100 mt-4 card-container">
                            <div class="card box adding-card">
                                <input type="button" class="open-popup add-btn" rel="add-hostel" />
                            </div>
                        </div>
                        <partial name="_PopupOpen" model='$"add-hostel"' />
                        <form asp-action="CreateDormitory" method="post" enctype="multipart/form-data">
                            @for (var i = 0; i < supportedCultures.Count; i++)
                            {
                                <h5>@supportedCultures[i].Name</h5>
                                <input class="entry-field" type="text" name="@("Name[" + i + "]")" value="" placeholder="@localizer["InputName"]" autocomplete="off" required />
                                <textarea class="entry-field mt-3" type="text" name="@("Description[" + i + "]")" value="" placeholder="@localizer["InputDescription"]" autocomplete="off" required></textarea>
                                <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                                <hr>
                            }

                            <label for="load-hostel-img" class="load-labal">Выберите изображения</label>
                            <input type="file" class="load-input form-control" id="load-hostel-img" name="@("Pictures")" required multiple="multiple" />

                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }

                </div>
            }




        </div>

    </div>
</div>
