@model hitsWebsite.Models.ViewModels._BlockNameViewModel

@using hitsWebsite.Services
@inject IDataProviderService DataProviderService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localizationOptions

@{
    // Cultures info
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();  // Current culture request
    var supportedCultures = localizationOptions.Value.SupportedUICultures;  // Supported cultures in app

    // Get required info about block

    var Block = await DataProviderService.GetBlockName(Model.ProjectBlockName); // JSON entity
    var Block_CurrentCulture = Block.SingleOrDefault(x => x.Key == culture.RequestCulture.UICulture.Name).Value;
}


<div class="col-12 title-block">
    <h2 class="d-flex w-100 justify-content-between align-items-center">
        @if (Block_CurrentCulture != null)
        {
            @Block_CurrentCulture
        }
        else
        {
            @localizer["EmptyBlockName"]
        }

        @if (User.IsInRole(ApplicationRoles.Administrators))
        {
            <input type="button" class="edit-block-name" />
        }
    </h2>
    @if (User.IsInRole(ApplicationRoles.Administrators))
    {
        <form asp-action="EditBlockName" asp-controller="Home" asp-route-projectBlockName="@Model.ProjectBlockName" asp-route-currentControllerName="@Model.CurrentControllerName" method="post" class="hidden w-100">
            @for (var i = 0; i < supportedCultures.Count; i++)
            {
                <h5>@supportedCultures[i].Name</h5>
                <input class="entry-field" type="text" name=@("NewBlockName[" + i + "]")
                       value="@Block.GetValueOrDefault(supportedCultures[i].Name)" placeholder="@localizer["InputName"]" autocomplete="off" />
                <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
            }
            <div class="mt-3 d-flex justify-content-end">
                <button type="button" class="cancel-editing btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
            </div>
        </form>
    }
</div>