@using hitsWebsite.Models.ViewModels
@using hitsWebsite.Services
@inject IDataProviderService DataProviderService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localizationOptions

@{
    var requestedCulture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.UICulture.Name;
    var supportedCultures = localizationOptions.Value.SupportedUICultures;  // Supported cultures in app

    var professionPage = await DataProviderService.GetDynamicPage("Professions");
    var admissionPage = await DataProviderService.GetDynamicPage("Admission");
    var livePage = await DataProviderService.GetDynamicPage("Live");
    var aboutPage = await DataProviderService.GetDynamicPage("About");

    //db entities
    var footer = await DataProviderService.GetFooter();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/scss/site.min.css" />
</head>
<body class="module-border-wrap">
    <div class="module">


        <div id="bg-shapes-container">
            <div class="figure-container" id="first-figure">
                <img src="~/svg/background-square-1.svg" class="square-gradient" />
                <img src="~/svg/background-square-2.svg" class="square-gradient" />
                <img src="~/svg/background-square-3.svg" class="square-gradient" />
            </div>

            <div class="figure-container" id="second-figure">
                <div>
                    <img src="~/svg/background-polygon-1.svg" class="polygon-gradient" />
                    <img src="~/svg/background-polygon-2.svg" class="polygon-gradient" />
                </div>
            </div>

            <div class="figure-container" id="third-figure">
                <img src="~/svg/background-round-1.svg" class="round-gradient" />
                <img src="~/svg/background-round-2.svg" class="round-gradient" />
                <img src="~/svg/background-round-3.svg" class="round-gradient" />
            </div>
        </div>

        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent pt-4 pb-4">
                <a class="navbar-brand d-flex" href="#">
                    <img class="mr-3" src="~/svg/logo.svg">
                    <div class="align-self-center header-logo-name">
                        @localizer["SchoolName"]
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse header-list mt-3 mt-sm-0 ml-3 ml-sm-0" id="navbarSupportedContent">
                    <div class="w-100">
                        <ul class="navbar-nav d-flex align-items-sm-center">
                            <li class="nav-item active header-left-margin text-nowrap mr-xl-4 mr-lg-3">
                                <a class="nav-link" asp-controller="Professions" asp-action="Index">
                                    @professionPage.DynamicPageTranslations.Where(x => x.Language == requestedCulture).SingleOrDefault().Name
                                </a>
                            </li>
                            <li class="nav-item text-nowrap mr-xl-4 mr-lg-2">
                                <a class="nav-link" asp-controller="Admission" asp-action="Index">
                                    @admissionPage.DynamicPageTranslations.Where(x => x.Language == requestedCulture).SingleOrDefault().Name
                                </a>
                            </li>
                            <li class="nav-item text-nowrap mr-xl-4 mr-lg-2">
                                <a class="nav-link" asp-controller="Live" asp-action="Index">
                                    @livePage.DynamicPageTranslations.Where(x => x.Language == requestedCulture).SingleOrDefault().Name
                                </a>
                            </li>
                            <li class="nav-item text-nowrap mr-xl-4 mr-lg-2">
                                <a class="nav-link" asp-controller="About" asp-action="Index">
                                    @aboutPage.DynamicPageTranslations.Where(x => x.Language == requestedCulture).SingleOrDefault().Name
                                </a>
                            </li>
                            <li class="nav-item dropdown ml-lg-auto">
                                <partial name="_Culture" model="@new LanguageEditModel()">
                            </li>
                        </ul>
                    </div>
                </div>


            </nav>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        @if (ViewBag.DisplayLinkStatus == null || ViewBag.DisplayLinkStatus == "visible")
        {
            var idEdit = "footer-edit";

            <footer class="footer">
                <div class="row m-0">
                    <div class="col-12 d-none d-sm-block col-lg-6 order-lg-last m-0 p-5 p-lg-0">
                        <div id="ymap"></div>
                        <script src="//api-maps.yandex.ru/2.1/?apikey=YOUR_API_KEY&lang=ru&onload=YandexReadyHandler" type="text/javascript"></script>
                    </div>
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <div class="container px-sm-5">

                            <div class="d-flex align-content-center">
                                <img src="~/svg/logo.svg">
                                <div class="align-self-center ml-2">
                                    <h3>@localizer["SchoolName"]</h3>
                                </div>
                            </div>

                            <p class="pt-4">
                                @Html.Raw(footer.FooterTranslations.Where(x => x.Language == requestedCulture).SingleOrDefault().Description)

                                @if (User.IsInRole(ApplicationRoles.Administrators))
                                {
                                    <input type="button" class="open-popup edit-block-name" rel="@idEdit" />
                                }
                                <br>
                            </p>

                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                <partial name="_PopupOpen" model='"footer-edit"' />
                                <form asp-action="EditFooter" asp-controller="Home" asp-route-currentControllerName="@ViewData["Title"].ToString()" method="post">
                                    <h4>@localizer["EditAction"]</h4>

                                    @for (var j = 0; j < supportedCultures.Count; j++)
                                    {
                                        <script src="~/lib/ckeditor/ckeditor.js"></script>
                                        <h5>@supportedCultures[j].Name</h5>

                                        <textarea required name="Description" id="footer-@j" type="text" autocomplete="off" placeholder="@localizer["InputDescription"]"
                                                  class="entry-field mt-3">@Html.Raw(footer.FooterTranslations.Where(x=> x.Language == supportedCultures[j].Name).SingleOrDefault().Description)</textarea>

                                        <input required hidden type="text" name="Language" value="@supportedCultures[j].Name" />
                                        <hr>

                                        <script>
                                             document.addEventListener("DOMContentLoaded", function (event) {
                                                 var editor = CKEDITOR.replace("footer-" + @j);
                                             });
                                        </script>
                                    }

                                    <div class="mt-3 d-flex justify-content-end">
                                        <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                        <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                    </div>
                                </form>
                                <partial name="_PopupClose" />
                            }

                            <div class="d-inline-block social_media_conteiner">
                                <a href="https://vk.com/hits_tsu"><img src="~/svg/vk-logo.svg"></a>
                                <a href="https://www.facebook.com/software.engineering.tsu"><img src="~/svg/facebook-logo.svg"></a>
                                <a href="https://www.instagram.com/hits.tsu/"><img src="~/svg/instagram-logo.svg"></a>
                                <a href="https://www.youtube.com/channel/UC8jUXsbop4qV8tamXxsivyA"><img src="~/svg/youtube-logo.svg"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
        }

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
