@using hitsWebsite.Models.ViewModels
@using hitsWebsite.Services
@inject IDataProviderService DataProviderService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localizationOptions

@{
    // projectNameOfPage
    ViewData["Title"] = "Admission";

    // Cultures info
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();  // Current culture request
    var supportedCultures = localizationOptions.Value.SupportedUICultures;  // Supported cultures in app

    // projectNameOfBlocks
    const string AcademicSubjectsName = "AcademicSubjectsBlock";
    const string ProbabilityOfAdmissionName = "ProbabilityOfAdmissionsBlock";
    const string AdmissionСonditionsName = "AdmissionСonditionsBlock";
    const string RequiredDocumentsName = "RequiredDocumentsBlock";
}

<partial name="_DynamicPageInfo" model="@ViewData["Title"]" />

<div class="row pt-4">

    <div id="side-navbar-container" class="col-3 d-none d-lg-block">
        <div id="side-navbar" class="default">
            <ul>
            </ul>
        </div>
    </div>

    <div id="blocks-container" class="col col-lg-9">

        <div class="row info-block">
            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = AcademicSubjectsName
                }' />
            <div class="col-12 mt-3">
                <div class="row">

                    <div class="col-sm-6 col-md-4 card-container">
                        <div class="card box">
                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                <div class="card-btns-container">
                                    <button class="open-popup btn-edit" rel="subject-edit-1"></button>
                                    <button class="open-popup btn-delete" rel="subject-delete-1"></button>
                                </div>
                            }
                            <h4>Информатика</h4>
                            <p class="pt-3">
                                Количество баллов
                            </p>
                        </div>
                    </div>
                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        var idEdit = $"subject-edit-{1}";
                        var idDelete = $"subject-delete-{1}";

                        <partial name="_PopupOpen" model="@idEdit" />
                        <form>
                            <h4>@localizer["EditAction"]</h4>
                            @for (var j = 0; j < supportedCultures.Count; j++)
                            {
                                <h5>@supportedCultures[j].Name</h5>

                                <input class="entry-field" type="text" name="@("Name[" + j + "]")"
                                       placeholder="Название" autocomplete="off" required />

                                // textarea shouldn't has any extra spaces between openning and closing tags
                                <input class="entry-field mt-3" type="text" name="@("Description[" + j + "]")" placeholder="Кол-во баллов" autocomplete="off" required />
                                <hr>

                                <input type="hidden" name="@("Language[" + j + "]")" value="@supportedCultures[j].Name" required />
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />

                        <partial name="_PopupOpen" model="@idDelete" />
                        <form>
                            <h4>@localizer["DeleteAction"]</h4>

                            @for (var j = 0; j < supportedCultures.Count; j++)
                            {
                                <h5>@supportedCultures[j].Name</h5>
                                <div>
                                    @localizer["InputName"]: Матеша@*@professions[i].ProfessionTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name*@ <br>
                                    @localizer["InputDescription"]: 65 баллов@*@professions[i].ProfessionTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description*@
                                </div>
                                <hr>
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }

                    <div class="col-sm-6 col-md-4 card-container">
                        <div class="card box">
                            <h4>Математика</h4>
                            <p class="pt-3">
                                Количество баллов
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 card-container">
                        <div class="card box">
                            <h4>Русский язык</h4>
                            <p class="pt-3">
                                Количество баллов
                            </p>
                        </div>
                    </div>

                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="col-sm-6 col-md-4 card-container">
                            <div class="card box adding-card">
                                <input type="button" class="open-popup add-btn" rel="add-subject" />
                            </div>
                        </div>

                        <partial name="_PopupOpen" model='"add-subject"' />
                        <form asp-action="CreateFeature" method="post">
                            <h4>@localizer["AddAction"]</h4>
                            @for (var i = 0; i < supportedCultures.Count; i++)
                            {
                                <h5>@supportedCultures[i].Name</h5>
                                <input class="entry-field" type="text" name="@("Name[" + i + "]")" value="" placeholder="@localizer["InputName"]" autocomplete="off" required />
                                <input class="entry-field mt-3" type="text" name="@("Description[" + i + "]")" value="" placeholder="Кол-во баллов" autocomplete="off" required />
                                <hr>
                                <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }

                </div>

                <div class="row">
                    <partial name="_BlockName" model='new _BlockNameViewModel() {
                            CurrentControllerName = ViewData["Title"].ToString(),
                            ProjectBlockName = ProbabilityOfAdmissionName
                        }' />

                    <div class="col-12 mt-3">
                        <div class="box">

                            <div class="row">
                                <div class="col-6">
                                    fdfdf<hr>
                                    fdfdf<hr>
                                    fdfdf<hr>
                                    fdfdf<hr>
                                    ffff
                                    ff
                                </div>

                                <div class="col-6 d-flex align-items-center">

                                    <div class="" style="width: 75%; margin: auto;">

                                        <div class="row">
                                            <div class="col-5"><h5>Платно:</h5></div>
                                            <div id="paid-chance" class="col-auto">80%</div>
                                            <div class="w-100"></div>
                                            <div class="col-5"><h5>Бюджет:</h5></div>
                                            <div id="budgetary-chance" class="col-auto">20%</div>
                                        </div>
                                        <div class="small-addition">
                                            <div>
                                                <span class="purple-highlight">*</span>&nbsp;&nbsp;&nbsp;
                                            </div>
                                            <div>
                                                Данные расчеты основываются на статистике прошлых лет и не являются гарантией поступления
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row info-block mt-5">
            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = AdmissionСonditionsName
                }' />
            <div class="col-12 mt-3">

                <div class="box large-text">

                    <div class="row">
                        <div class="col-6"><h5>Сроки приема документов</h5></div>
                        <div class="col-6">С 20 июня</div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-6"><h5>Стоимость для граждан РФ и СНГ</h5></div>
                        <div class="col-6">
                            156 400 рублей<span class="blue-highlight">*</span>
                            <div class="d-flex mt-2 additional-info blue-highlight">
                                <div>
                                    <span>*</span>&nbsp;&nbsp;&nbsp;
                                </div>
                                <div>
                                    Данные расчеты основываются на статистике прошлых лет и не являются гарантией поступления
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-6"><h5>Стоимость для иностранных граждан</h5></div>
                        <div class="col-6">
                            187 700 рублей - на русском языке<span class="blue-highlight">*</span>
                            <div class="d-flex mt-2 additional-info blue-highlight">
                                <div>
                                    <span>*</span>&nbsp;&nbsp;&nbsp;
                                </div>
                                <div>
                                    Скидка для студентов, имеющих более 230 баллов составляет 15% (стоимость с учетом скидки 159 450 рублей)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">По статистике каждый 4 студент обучающийся платно, переходит на бюджет к 4 году обучения</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row info-block  mt-5">
            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = RequiredDocumentsName
                }' />
            <div class="col-12 mt-3">

                <div class="box large-text">

                    <div class="row">
                        <div class="col-12">
                            Заявление, анкета абитуриента и согласие на обработку персональных данных заполняются в приемной комиссии (или в выездном пункте ТГУ в вашем городе).
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-6"><h5>К заявлению нужно приложить:</h5></div>
                        <div class="col-6">
                            1. Копию паспорта;<br>
                            2. Оригинал или копию аттестата;<br>
                            3. Копию военного билета (для тех, кто уже отдал долг родине);<br>
                            4. 6 фото 3х4.
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            Для начисления баллов за индивидуальные достижения также можно предоставить дипломы олимпиад школьников, результаты ГТО, медаль за обучение.
                            <br>
                            Полный список документов можно посмотреть <a href="#">здесь</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>