@using hitsWebsite.Models.ViewModels
@using hitsWebsite.Services
@inject IDataProviderService DataProviderService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localizationOptions

@{
    // projectNameOfPage
    ViewData["Title"] = "Admission";

    // Cultures info
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();  // Current culture request
    var supportedCultures = localizationOptions.Value.SupportedUICultures;  // Supported cultures in app

    // projectNameOfBlocks
    const string AcademicSubjectsName = "AcademicSubjectsBlock";
    const string AdmissionСonditionsName = "AdmissionСonditionsBlock";
    const string RequiredDocumentsName = "RequiredDocumentsBlock";

    // DB entities
    var academicSubjects = await DataProviderService.GetAcademicSubjects();
    var condition = await DataProviderService.GetCondition();
    var document = await DataProviderService.GetDocument();
}

<partial name="_DynamicPageInfo" model="@ViewData["Title"]" />

<div class="row pt-4">

    <partial name="_LeftNavigationBar" />

    <div id="blocks-container" class="col col-lg-9">
        <div class="row info-block">

            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = AcademicSubjectsName
                }' />

            <div class="col-12 mt-3">
                <div class="row">
                    @if (academicSubjects.Count == 0 && !User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <h6>@localizer["EmptyCards"]</h6>
                    }
                    else
                    {
                        @for (var i = 0; i < academicSubjects.Count; i++) // List ordered by Name
                        {
                            <div class="col-sm-6 col-md-4 card-container">
                                <div class="card box">
                                    @if (User.IsInRole(ApplicationRoles.Administrators))
                                    {
                                        <div class="card-btns-container">
                                            <button class="open-popup btn-edit" rel="subject-edit-@i"></button>
                                            <button class="open-popup btn-delete" rel="subject-delete-@i"></button>
                                        </div>
                                    }
                                    <h4>@academicSubjects[i].AcademicSubjectTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Name</h4>
                                    <p class="pt-3">
                                        @academicSubjects[i].AcademicSubjectTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Description
                                    </p>
                                </div>
                            </div>
                            @if (User.IsInRole(ApplicationRoles.Administrators))
                            {
                                var idEdit = $"subject-edit-{i}";
                                var idDelete = $"subject-delete-{i}";

                                <partial name="_PopupOpen" model="@idEdit" />
                                <form asp-action="EditAcademicSubject" asp-route-id="@academicSubjects[i].Id">
                                    <h4>@localizer["EditAction"]</h4>
                                    @for (var j = 0; j < supportedCultures.Count; j++)
                                    {
                                        <h5>@supportedCultures[j].Name</h5>

                                        <input class="entry-field" type="text" name="@("Name[" + j + "]")"
                                               value="@academicSubjects[i].AcademicSubjectTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name"
                                               placeholder="@localizer["InputName"]" autocomplete="off" required />

                                        // textarea shouldn't has any extra spaces between openning and closing tags
                                        <textarea class="entry-field mt-3" type="text" name="@("Description[" + j + "]")" placeholder="@localizer["InputDescription"]" autocomplete="off"
                                                  required>@academicSubjects[i].AcademicSubjectTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description</textarea>
                                        <hr>

                                        <input type="hidden" name="@("Language[" + j + "]")" value="@supportedCultures[j].Name" required />
                                    }
                                    <div class="mt-3 d-flex justify-content-end">
                                        <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                        <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                    </div>
                                </form>
                                <partial name="_PopupClose" />

                                <partial name="_PopupOpen" model="@idDelete" />
                                <form asp-action="DeleteAcademicSubject" asp-route-id="@academicSubjects[i].Id">
                                    <h4>@localizer["DeleteAction"]</h4>

                                    @for (var j = 0; j < supportedCultures.Count; j++)
                                    {
                                        <h5>@supportedCultures[j].Name</h5>
                                        <div>
                                            @localizer["InputName"]: @academicSubjects[i].AcademicSubjectTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Name <br>
                                            @localizer["InputDescription"]: @academicSubjects[i].AcademicSubjectTranslations.Where(x => x.Language == supportedCultures[j].Name).SingleOrDefault().Description
                                        </div>
                                        <hr>
                                    }
                                    <div class="mt-3 d-flex justify-content-end">
                                        <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                        <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                                    </div>
                                </form>
                                <partial name="_PopupClose" />
                            }
                        }
                    }

                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="col-sm-6 col-md-4 card-container">
                            <div class="card box adding-card">
                                <input type="button" class="open-popup add-btn" rel="add-subject" />
                            </div>
                        </div>

                        <partial name="_PopupOpen" model='"add-subject"' />
                        <form asp-action="CreateAcademicSubject" method="post">
                            <h4>@localizer["AddAction"]</h4>
                            @for (var i = 0; i < supportedCultures.Count; i++)
                            {
                                <h5>@supportedCultures[i].Name</h5>
                                <input class="entry-field" type="text" name="@("Name[" + i + "]")" value="" placeholder="@localizer["InputName"]" autocomplete="off" required />
                                <textarea class="entry-field mt-3" type="text" name="@("Description[" + i + "]")" value="" placeholder="@localizer["InputDescription"]" autocomplete="off" required></textarea>
                                <hr>
                                <input type="hidden" name="@("Language[" + i + "]")" value="@supportedCultures[i].Name" required />
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }

                </div>

                <div class="row">

                    <div class="col-12 w-100">
                        <h3 style="color:dodgerblue;">@localizer["ProbabilityOfAdmission"] <span class="purple-highlight">*</span></h3>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="box">

                            <div class="row">
                                <div class="col-6">
                                    fdfdf<hr>
                                    fdfdf<hr>
                                    fdfdf<hr>
                                    fdfdf<hr>
                                    ffff
                                    ff
                                </div>

                                <div class="col-6 d-flex align-items-center">

                                    <div class="" style="width: 75%; margin: auto;">

                                        <div class="row">
                                            <div class="col-5"><h5>@localizer["PaidTuition"]:</h5></div>
                                            <div id="paid-chance" class="col-auto">80%</div>
                                            <div class="w-100"></div>
                                            <div class="col-5"><h5>@localizer["FreeTuition"]:</h5></div>
                                            <div id="budgetary-chance" class="col-auto">20%</div>
                                        </div>
                                        <div class="small-addition">
                                            <div>
                                                <span class="purple-highlight">*</span>&nbsp;&nbsp;&nbsp;
                                            </div>
                                            <div>
                                                @localizer["AdmissionData"]
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row info-block mt-5">
            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = AdmissionСonditionsName
                }' />

            <div class="col-12 mt-3">

                <div class="box large-text">
                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="card-btns-container">
                            <button class="open-popup btn-edit" rel="conditions-edit"></button>
                        </div>

                        <partial name="_PopupOpen" model='"conditions-edit"' />
                        <form asp-action="EditConditions" method="post">
                            <h4>@localizer["EditAction"]</h4>
                            @for (var j = 0; j < supportedCultures.Count; j++)
                            {
                                <script src="~/lib/ckeditor/ckeditor.js"></script>
                                <h5>@supportedCultures[j].Name</h5>

                                // textarea shouldn't has any extra spaces between openning and closing tags
                                <textarea class="entry-field mt-3" type="text" name="Description" placeholder="@localizer["InputDescription"]" autocomplete="off"
                                          id="conditions-@j" required>@Html.Raw(condition.ConditionTranslations.Where(x=> x.Language == supportedCultures[j].Name).SingleOrDefault().Description)</textarea>
                                <hr>

                                <input type="hidden" name="Language" value="@supportedCultures[j].Name" required />

                                <script>
                                     document.addEventListener("DOMContentLoaded", function (event) {
                                         var editor = CKEDITOR.replace("conditions-" + @j);
                                     });
                                </script>
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>

                        <partial name="_PopupClose" />
                    }

                    <div>
                        @Html.Raw(condition.ConditionTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Description)
                    </div>

                </div>

            </div>
        </div>

        <div class="row info-block  mt-5">
            <partial name="_BlockName" model='new _BlockNameViewModel() {
                    CurrentControllerName = ViewData["Title"].ToString(),
                    ProjectBlockName = RequiredDocumentsName
                }' />
            <div class="col-12 mt-3">

                <div class="box large-text">

                    @if (User.IsInRole(ApplicationRoles.Administrators))
                    {
                        <div class="card-btns-container">
                            <button class="open-popup btn-edit" rel="documents-edit"></button>
                        </div>

                        <partial name="_PopupOpen" model='"documents-edit"' />
                        <form asp-action="EditDocuments" method="post">
                            <h4>@localizer["EditAction"]</h4>
                            @for (var j = 0; j < supportedCultures.Count; j++)
                            {
                                <script src="~/lib/ckeditor/ckeditor.js"></script>
                                <h5>@supportedCultures[j].Name</h5>

                                // textarea shouldn't has any extra spaces between openning and closing tags
                                <textarea class="entry-field mt-3" type="text" name="Description" placeholder="@localizer["InputDescription"]" autocomplete="off"
                                          id="documents-@j" required>@Html.Raw(document.DocumentTranslations.Where(x=> x.Language == supportedCultures[j].Name).SingleOrDefault().Description)</textarea>
                                <hr>

                                <input type="hidden" name="Language" value="@supportedCultures[j].Name" required />

                                <script>
                                     document.addEventListener("DOMContentLoaded", function (event) {
                                         var editor = CKEDITOR.replace("documents-" + @j);
                                     });
                                </script>
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="button" class="close-popup btn btn-outline-danger mr-2">@localizer["ButtonCancel"]</button>
                                <button type="submit" class="btn btn-outline-primary">@localizer["ButtonSave"]</button>
                            </div>
                        </form>
                        <partial name="_PopupClose" />
                    }

                    <div>
                        @Html.Raw(document.DocumentTranslations.Where(x => x.Language == culture.RequestCulture.UICulture.Name).SingleOrDefault().Description)
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
